<div class="upper-navbar">
    <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_navbar" aria-expanded="false">
            &#9776;
        </button>

        <div class="btn-group user-menu" style="margin-right: 1010px">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!--<span class="glyphicon glyphicon-user user-icon"></span>-->
                <!--<span class="caret"></span>-->
                <span id="user-dropdownmenu" class="current-user-name">{{$ctrl.currentUser.fullName}}</span><span
                    class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"
                style="position: static; margin-bottom: 5px; *width: 180px;">

                <li>
                    <a><i class="glyphicon glyphicon-cog" ng-click="$ctrl.openChangeInformation()"></i>تنظیمات من</a>
                </li>
                <li>
                    <a><i class="glyphicon glyphicon-edit" ng-click="$ctrl.openChangePassword()"></i>تغییر رمز عبور</a>
                </li>
                <!--<li class="divider"></li>-->

                <li>
                    <a href="/logout"><i class="glyphicon glyphicon-log-out"></i>تغییر کاربر</a>
                </li>
                <li class="dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-edit">تغییر پس زمینه</i>
                        <!--<span class="caret"></span>-->
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="$ctrl.changeTheme('theme-paper')">Paper Theme</a></li>
                        <li><a href="#" ng-click="$ctrl.changeTheme('theme-slate')">slate Theme</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>