@font-face {
  font-family: "X-Nassim";
  src: url("../resources/fonts/nasim-regular.woff");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+10E60-10E7F, U+1EE00-1EEFF; }
body {
  background-color: #DEDEDE;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto, arial, sans-serif;
  font-family: "X-Nassim", serif; }

/* webkit solution */
::-webkit-input-placeholder, input:-moz-placeholder {
  text-align: right; }

/* mozilla solution */
.container {
  padding: 25px;
  position: fixed; }

.form-login {
  background-color: #ACC1E0;
  padding: 10px 20px 20px;
  border-radius: 15px;
  border: 5px #d2d2d2;
  box-shadow: 0 1px 0 #cfcfcf;
  margin-top: 0;
  width: 135%; }
  .form-login > h4 {
    font-family: "X-Nassim", serif; }

h4 {
  border: 0 solid #fff;
  border-bottom-width: 1px;
  padding-bottom: 10px;
  text-align: center; }

.form-control {
  border-radius: 10px; }

.wrapper {
  text-align: center;
  padding-top: 15%; }

.login-brand-text {
  margin-top: -2%;
  margin-right: 1%;
  font-size: 100%;
  font-family: "XB ZAR", "X-Nassim", "Helvetica", serif;
  font-weight: bolder;
  color: #ffffff; }

.login-brand {
  /* width: 60px; */
  margin-top: 22%;
  margin-left: 27%; }

.navbar-blue {
  background: #5bc0de;
  border-color: #4cae4c; }

.caspian-logo {
  width: 4%;
  top: 0;
  left: 0;
  position: fixed; }

.caspian-logo-text {
  position: fixed;
  bottom: 0; }

.caspian-brand {
  height: 53px; }

.chat-input {
  margin-bottom: 4%; }

body {
  font-family: X-Nassim;
  background: #A7AEB5; }

@font-face {
  font-family: "X-Nassim";
  src: url("../resources/fonts/nasim-regular.woff");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+10E60-10E7F, U+1EE00-1EEFF; }
@font-face {
  font-family: "X-Nassim";
  src: url("../resources/fonts/nasim-regular.woff");
  font-weight: bold;
  font-style: normal;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+10E60-10E7F, U+1EE00-1EEFF; }
.wrap {
  width: 250px;
  height: auto;
  /*margin: 10% auto auto;*/
  position: fixed;
  top: 30%;
  left: 42%; }

.avatar {
  /*width: 100%;*/
  margin: auto;
  width: 65px;
  border-radius: 100px;
  height: 65px;
  background: #448ed3;
  position: relative;
  bottom: -15px; }
  .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    margin: auto;
    border: 3px solid #fff;
    display: block; }

.wrap input {
  border: none;
  background: #fff;
  font-family: "X-Nassim";
  font-weight: 700;
  display: block;
  height: 40px;
  outline: none;
  width: 100%;
  margin: auto;
  padding: 6px 12px 6px 12px; }

.bar {
  width: 100%;
  height: 1px;
  background: #fff; }
  .bar i {
    width: 95%;
    margin: auto;
    height: 1px;
    display: block;
    background: #d1d1d1; }

.wrap input[type="text"] {
  border-radius: 7px 7px 0px 0px; }
.wrap input[type="password"] {
  border-radius: 0px 0px 7px 7px; }

.forgot_link {
  color: #83afdf;
  /*color: #83afdf;*/
  text-decoration: none;
  font-size: 11px;
  position: relative;
  left: 193px;
  top: -36px; }

.wrap button {
  width: 100%;
  border-radius: 7px;
  background: #b6ee65;
  /*text-decoration: center;*/
  border: none;
  color: #51771a;
  margin-top: 5px;
  padding-top: 14px;
  padding-bottom: 14px;
  outline: none;
  font-size: 13px;
  border-bottom: 3px solid #307d63;
  cursor: pointer;
  text-align: center; }
.wrap a {
  width: 100%;
  border-radius: 7px;
  background: #b6ee65;
  /*text-decoration: center;*/
  border: none;
  color: #51771a;
  margin-top: 5px;
  padding-top: 14px;
  padding-bottom: 14px;
  outline: none;
  font-size: 13px;
  border-bottom: 3px solid #307d63;
  cursor: pointer;
  text-align: center; }

@media screen and (max-width: 1000px) {
  .wrap input {
    height: 80px;
    font-size: 20px; }

  .avatar {
    width: 150px;
    border-radius: 150px;
    height: 150px; }
    .avatar img {
      width: 150px;
      height: 150px; }

  .forgot_link {
    top: -50px;
    font-size: 18px; }

  .wrap a {
    height: 70px;
    font-size: 18px; }

  .wrap button {
    height: 70px;
    font-size: 18px; } }
.beveled-button {
  display: inline-block;
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.4), inset 0 0 3px 0 rgba(0, 0, 0, 0.4), inset 0 0 3px 5px rgba(0, 0, 0, 0.05), 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 15px;
  line-height: 14px;
  font-family: X-Nassim, serif;
  position: relative; }

.start-description {
  margin-top: 5%;
  font-size: 25px;
  font-weight: bolder;
  color: #004488 !important;
  padding-bottom: 10px; }

.beveled-button-red {
  background: #EA3D33; }

.beveled-button-green {
  background: #a7d302;
  color: black; }

.beveled-button-blue {
  background: #4A90E2; }

.beveled-button:before, .beveled-button:after {
  content: '';
  display: block;
  position: absolute;
  left: 2px;
  right: 2px;
  height: 3px; }
.beveled-button:before {
  top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.6); }
.beveled-button:after {
  bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.15); }

/*# sourceMappingURL=login.css.map */
