#parse("/template/util/html-license.vm")
#parse("/template/web/client/html/pages/layout.vm")
<div class="modal-header">
    <h3 class="modal-title">{{translate('app.modal.edit')}} {{translate('menu.$fullClassName')}}</h3>
</div>

<form name="form" class="modal-body" do-action="ctrl+enter:Action.insert()">
    #renderLayout($page.getLayout().get())
</form>

<div class="modal-footer">
    <div class="row">
        <div class='col-xs-12'>
            <button class="btn btn-primary btn-lg glyphicon glyphicon-pencil" id='saveButton'
                    ng-disabled="!form.$valid" tooltip="{{translate('app.button.edit')}}"
                    ng-click='Actions.insert()'>
            </button>
        ##            <button id='cancelButton' class="btn btn-warning btn-lg glyphicon glyphicon-chevron-left"
        ##                    ng-click='Action.cancel()' tooltip="{{translate('app.button.cancel')}}">
        ##            </button>
        </div>
    </div>
</div>
