#parse("/template/util/html-license.vm")
#parse("/template/web/client/html/pages/layout.vm")

<div ng-controller="${className}Controller as $ctrl" do-action="CTRL+ALT+A:Actions.insert()"
     xmlns:spl="http://www.caspco.ir/spl" spl-translation-prefix="$className">
    <spl:load-when action="${className}.Search">
        <spl:lily-mainpage>
            <spl:inputs>
                #renderLayout($page.getLayout().get())
            </spl:inputs>
            <spl:onselect-actions>
                #foreach($operation in $page.getSeparatedAttributesAsJava("operations",","))
                    <spl:button name="$operation" ng-click="$ctrl.actions.${operation}()"/>
                #end
                #foreach($operation in $dataModel.get().appendOperationsAsJava())
                    #set($opName=$operation.getAttribute("operationForAppend"))
                    <spl:action-button name="$opName" ng-click="$ctrl.actions.${opName}()"/>
                #end
            </spl:onselect-actions>
        </spl:lily-mainpage>
    </spl:load-when>
    <spl:load-when action="${className}.Save">
        <spl:lily-createpage>
            <spl:inputs>
                #renderLayout($page.getCreatePage().getLayout().get())
            </spl:inputs>
        </spl:lily-createpage>
    </spl:load-when>
</div>