#parse("/template/util/html-license.vm")
#parse("/template/web/client/html/pages/layout.vm")
#set($dataModel="$page.getAttributes.get('dataModel')")
<div class="modal-header">
    <h3 class="modal-title">{{translate('app.modal.showDetails')}} {{translate('menu.$fullClassName')}}</h3>
</div>
<form name="Show${className}" class="modal-body">
    #renderLayout($page.getLayout().get())
</form>
##<div class="modal-footer">
##    <div class="row">
##        <div class='col-xs-12'>
##            <button id='cancelButton' class="btn btn-warning btn-lg glyphicon glyphicon-chevron-left"
##                    ng-click='Action.cancel()' tooltip="{{translate('app.button.cancel')}}">
##            </button>
##        </div>
##    </div>
##</div>