<html xmlns:spl="http://caspco.ir/spl" ng-app="application">
<head>
    <title ng-bind-template="{{app.title |translate }}{{app.title && page.title ? ' - ' : ''}}{{page.title | translate }}"></title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.css">

    <!-- cssDeps:css -->

    <link rel="stylesheet" href="vendors/ng-tags-input/ng-tags-input.css">

    <link rel="stylesheet" href="vendors/angular-ui-select/dist/select.css">

    <link rel="stylesheet" href="vendors/toastr/toastr.css">

    <link rel="stylesheet" href="vendors/angular-ui-grid/ui-grid.css">

    <link rel="stylesheet" href="vendors/bootstrap-rtl/dist/css/bootstrap-rtl.css">

    <link rel="stylesheet" href="vendors/angular-ivh-treeview/dist/ivh-treeview.css">

    <link rel="stylesheet" href="vendors/bootstrap-tour/build/css/bootstrap-tour.css">

    <link rel="stylesheet" href="vendors/bootstrap-tour/build/css/bootstrap-tour-standalone.css">

    <link rel="stylesheet" href="vendors/lego-web/dist/css/app.css">

    <!-- endinject -->
    <link rel="stylesheet" href="vendors/bootstrap-rtl/dist/css/bootstrap-rtl.css">
</head>
<body ng-cloak ng-keydown="fireKeyDown($event)" class="application-body" ng-controller="ApplicationController">

<!--<spl:waiting>-->
<!--</spl:waiting>-->

<spl:lily-application>
<!---->
</spl:lily-application>

<!-- deps:js -->
<script src="vendors/jquery/dist/jquery.js"></script>
<script src="vendors/alertifyjs/dist/js/alertify.js"></script>
<script src="vendors/lodash/lodash.js"></script>
<script src="vendors/angular/angular.js"></script>
<script src="vendors/angular-sanitize/angular-sanitize.js"></script>
<script src="vendors/angular-messages/angular-messages.js"></script>
<script src="vendors/bootstrap/dist/js/bootstrap.js"></script>
<script src="vendors/ng-tags-input/ng-tags-input.js"></script>
<script src="vendors/angular-ui-select/dist/select.js"></script>
<script src="vendors/toastr/toastr.js"></script>
<script src="vendors/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="vendors/angular-ui-grid/ui-grid.js"></script>
<script src="vendors/angular-translate/angular-translate.js"></script>
<script src="vendors/angular-ui-mask/dist/mask.js"></script>
<script src="vendors/angular-ui-router/release/angular-ui-router.js"></script>
<script src="vendors/angular-strap/dist/angular-strap.js"></script>
<script src="vendors/angular-strap/dist/angular-strap.tpl.js"></script>
<script src="vendors/log4javascript/log4javascript.js"></script>
<script src="vendors/reflect-metadata/Reflect.js"></script>
<script src="vendors/angular-ivh-treeview/dist/ivh-treeview.js"></script>
<script src="vendors/typescript/typescript.js"></script>
<script src="vendors/system.js/dist/system.js"></script>
<script src="vendors/angular-animate/angular-animate.js"></script>
<script src="vendors/angular-aria/angular-aria.js"></script>
<script src="vendors/chart.js/dist/Chart.js"></script>
<script src="vendors/bootstrap-tour/build/js/bootstrap-tour.js"></script>
<script src="vendors/bootstrap-tour/build/js/bootstrap-tour-standalone.js"></script>
<script src="vendors/angular-resource/angular-resource.js"></script>
<script src="vendors/angular-chart.js/dist/angular-chart.js"></script>
<script src="vendors/lego-web/dist/index.js"></script>
<script src="vendors/persian-date/dist/0.1.8/persian-date-0.1.8.js"></script>
<!-- endinject -->
<!--<script src="vendors/adm-dtp/dist/ADM-dateTimePicker.js"></script>-->
<script src="config.js"></script>
<script src="app/app.js"></script>
<!-- inject:js -->

<!-- endinject -->
</body>
</html>