<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>سامانه خط تولید نرم افزار</title>
    <link rel="stylesheet" type="text/css" href="app/lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/register.css"/>
    <script type="text/javascript" src="app/lib/js/jquery.js"></script>
    <script type="text/javascript" src="app/lib/js/angular.js"></script>
    <script type="text/javascript" src="app/lib/js/angular-resource.js"></script>
    <script type="text/javascript" src="app/lib/js/bootstrap.min.js"></script>
    <script type="application/javascript">
        var module = angular.module('register', ['ngResource']);
        module.controller('RegisterController', ['$scope', 'RegisterRestService', function ($scope, RegisterRestService) {
            $scope.Model = {};
            $scope.Actions = {
                register: function () {
                    RegisterRestService.register($scope.Model).$promise.then(
                            function () {
                                location.replace('login.html');
                            }
                    )
                }
            };

        }]);

        module.service('RegisterRestService', ['$resource', function ($resource) {
            return $resource('/credentials/register', {}, {
                register: {method: 'POST', isArray: false}
            });
        }]);
    </script>
</head>

<body onload="document.getElementById('username').focus();" ng-app="register">
<nav class="navbar navbar-blue">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand caspian-brand" href="#">
                <img class="caspian-logo" src="app/resources/img/caspco-logo.png"/>
            </a>
        </div>
    </div>
    <p class="navbar-text navbar-right login-brand-text">سامانه خط تولید نرم افزار</p>
</nav>
<div class="container">
    <!--<div class="row">-->
    <!--<div class="col-md-offset-6 col-md-3">-->
    <!--<img class="login-brand" alt="SPL" src="app/resources/img/spl.png">-->
    <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="wrap" ng-controller="RegisterController">
            <div class="avatar">
                <img src="app/resources/img/spl.png">
            </div>
            <!--<form action="/operations" method='POST' class="form-horizontal register-form" role="form">-->
            <div class="row">
                <div class="col-xs-6">
                    <input type="text" ng-model="Model.family" placeholder="نام خانوادگی" required id="family"
                           name="family" tabindex="2">
                </div>
                <div class="col-xs-6">
                    <input type="text" ng-model="Model.name" placeholder="نام" required id="name" name="name"
                           tabindex="1"
                    >

                </div>
            </div>

            <!--<div class="bar"><i></i></div>-->

            <!--<div class="bar"><i></i></div>-->
            <div class="row">
                <div class="col-xs-6">
                    <input type="text" ng-model="Model.email" placeholder="ایمیل" required id="email" name="email"
                           tabindex="4"
                    >
                </div>
                <div class="col-xs-6">
                    <input type="text" ng-model="Model.username" placeholder="نام کاربری" required id="username"
                           name="username"
                           tabindex="3"
                    >
                </div>
            </div>

            <!--<div class="bar"><i></i></div>-->

            <!--<div class="bar"><i></i></div>-->
            <div class="row">
                <div class="col-xs-6">

                    <input ng-model="Model.repass" placeholder="تکرار مجدد رمز عبور" required id="repass" name="repass"
                           type="password"
                           tabindex="6"
                    >
                </div>
                <div class="col-xs-6">
                    <input ng-model="Model.password" placeholder="رمز عبور" required id="password" type="password"
                           name="password"
                           tabindex="5"
                    >
                </div>
            </div>

            <!--<div class="bar"><i></i></div>-->

            <!--<div class="bar"><i></i></div>-->
            <button class="beveled-button" ng-click="Actions.register()" name="submit"
                    tabindex="7">ثبت نام
            </button>

            <!--</form>-->
        </div>
    </div>
</div>

<span class="caspian-logo-text">Designed and Implemented by <a href="http://caspco.ir" target="_blank">Caspco</a></span>
</body>

</html>