<div xmlns:spl="http://www.caspco.ir/spl" ng-controller="UserSettingController as $ctrl"
     do-action="CTRL+ALT+A:Actions.insert()" spl-translation-prefix="UserSetting">

    <spl:lily-operationpage when-action="UserSetting.changeSetting">
        <spl:lily-inputs title="">
            <spl:lily-collapsible-panel collapsible="false">
                <spl:fixed-actions>
                    <spl:action-button class="spl-panel-action-button" ng-click='$ctrl.actions.changeSetting()' glyph="edit"
                                       name="editUserSetting">
                    </spl:action-button>
                </spl:fixed-actions>
                <spl:panel-body>
                    <div class="row">
                        <div class='col-xs-3'>
                            <spl:input-text name="firstName"
                                            not-null='true'
                                            ng-model='$ctrl.model.firstName'
                                            required-validator
                                            type='text'></spl:input-text>
                        </div>
                        <div class='col-xs-3'>
                            <spl:input-text name='lastName'
                                            not-null='true'
                                            ng-model='$ctrl.model.lastName'
                                            required-validator
                                            type='text'></spl:input-text>
                        </div>
                    </div>
                </spl:panel-body>
            </spl:lily-collapsible-panel>
            <spl:lily-collapsible-panel collapsible="false">
                <spl:fixed-actions>
                    <spl:action-button class="spl-panel-action-button" ng-click='$ctrl.actions.changePassword()' glyph="edit" name="editPassword">
                    </spl:action-button>
                </spl:fixed-actions>
                <spl:panel-body>
                    <div class="row">
                        <div class='col-xs-3'>
                            <spl:input-text name="oldPassword"
                                            not-null='true'
                                            ng-model='$ctrl.model.oldPassword'
                                            required-validator
                                            type='password'></spl:input-text>
                        </div>
                        <div class='col-xs-3'>
                            <spl:input-text name='newPassword'
                                            not-null='true'
                                            ng-model='$ctrl.model.password'
                                            required-validator
                                            type='password'></spl:input-text>
                        </div>
                        <div class='col-xs-3'>
                            <spl:input-text name='passwordAgain'
                                            not-null='true'
                                            ng-model='$ctrl.passwordAgain'
                                            required-validator
                                            equals-password-validator='$ctrl.model.password'
                                            type='password'></spl:input-text>
                        </div>
                    </div>
                </spl:panel-body>
            </spl:lily-collapsible-panel>
        </spl:lily-inputs>
    </spl:lily-operationpage>
</div>