#parse("/template/util/string-utils.vm")
#parse("/template/util/model-utils.vm")

#foreach($attribute in $attributes)
    #if($attribute.getKey()=="type")
        #set($ng-model=$attribute.getValue().get())
    #elseif($attribute.getKey()=="disabled")
        #set($disabled=$attribute.getValue().get())
    #elseif($attribute.getKey()=="name")
        #set($name="#capitalize($attribute.getValue().get())")
    #elseif($attribute.getKey()=="id")
        #set($id="#capitalize($attribute.getValue().get())")
    #elseif($attribute.getKey()=="ng-show")
        #set($visible="$attribute.getValue().get()")
    #elseif($attribute.getKey()=="label")
        #set($label=$attribute.getValue().get())
    #end
#end
##<ui:panel title='${label}' collapsible="true" style='panel panel-default' type='default'>
##<div class="col-xs-1" style="text-align: left;">
##    <label>${label}</label>
##</div>
<ui:panel collapsible="true" title='${label}' type="default" #if($visible) ng-show='${visible}' #end>

    #if($disabled!="true")

        <div class="row">
            <div class="col-xs-12 text-center">
                <button class="btn btn-info btn-lg glyphicon glyphicon-arrow-down" ng-click="Actions.add${name}()"
                        tooltip="{{translate('app.button.create')}}">
                </button>
                <button class="btn btn-primary btn-lg glyphicon glyphicon-th-list" ng-disabled="!${name}Grid.isSelected"
                        ng-click="Actions.show${name}()" tooltip="{{translate('app.button.show')}}">
                </button>
                <button ng-disabled="!${name}Grid.isSelected" class="btn btn-danger btn-lg glyphicon glyphicon-minus"
                        ng-click='Actions.remove${name}()' tooltip="{{translate('app.button.delete')}}">

                </button>
            </div>
        </div>
    #end
    <div class="row">

        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <ui:master-viewer #foreach($attribute in $attributes) ${attribute.toString()}#end
                            palceholder="{{translate('app.select.master-viewer')}}"
                            label-size="3"
                            orientation="horizontal"></ui:master-viewer>
                </div>
            </div>
        </div>
    </div>

</ui:panel>